
{% block stylesheets %}
	
	<link rel="stylesheet" href="{{asset('css/stylelogin.css')}}"/>

    {% endblock %}
{% block body %}

<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="front">
            <img src="img/01.PNG" alt="">
            
        </div>
        <div class="back">
            <img class="backImg" src="img/01.PNG" alt="">
        </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Login</div>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="email" value="{{ last_username }}" name="email" placeholder="Enter your email" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" name="password" placeholder="Enter your password" class="form-control" autocomplete="current-password" required>
                        </div>
                        <div class="text"><a href="#">Forgot password?</a></div>
                        <div class="button input-box">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <input type="submit" value="Sumbit" class="btn btn-lg btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
