{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/stylelogin.css') }}"/>

{% endblock %}

{% block body %}
<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="front">
            <img src="img/01.PNG" alt="">
        </div>
        <div class="back">
            <img class="backImg" src="img/01.PNG" alt="">
        </div>
    </div>
       <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Sign Up</div>
                {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="input-boxes">
                    <div class="input-box">
                        
                        <div class="input">{{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Enter your email'}}) }}</div>
                        <div class="">{{ form_errors(registrationForm.email) }}</div> 
                    </div>
                       <div class="input-box">
                       
                        <div class="input">{{ form_widget(registrationForm.username, {'attr': {'placeholder': 'Enter your username'}}) }}</div>
                            <div class="">{{ form_errors(registrationForm.username) }}</div> 
                    </div>
                      <div class="input-box">
                        
                        <div class="input">{{ form_widget(registrationForm.plainPassword.first,{'attr': {'placeholder': 'Enter your password'}}) }}</div>
                        <div class="">{{ form_errors(registrationForm.plainPassword.first) }}</div> 
                        
                    </div>
                    <div class="input-box">
                        
                        <div class="input">{{ form_widget(registrationForm.plainPassword.second,{'attr': {'placeholder': 'Confirm your password'}}) }}</div>
                        <div class="">{{ form_errors(registrationForm.plainPassword.second) }}</div> 
                    </div>
                    <div class="input1">
                       <div class="label">{{ form_label(registrationForm.roles) }}</div>
                        <div class="input">{{ form_widget(registrationForm.roles) }}</div>
                    </div>
                    <div class="input1">
                        <div class="label">{{ form_label(registrationForm.agreeTerms) }}</div>
                        <div class="input">
                            {{ form_widget(registrationForm.agreeTerms) }}
                            <div class="text">I agree to the terms</div>
                        </div>
                    </div>
                </div>
                <div class="button input-box">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="submit" value="Submit" class="btn btn-lg btn-primary">
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var coachCheckbox = document.getElementById('registration_form_roles_0');
        var joueurCheckbox = document.getElementById('registration_form_roles_1');

        coachCheckbox.addEventListener('change', function() {
            if (coachCheckbox.checked) {
                joueurCheckbox.checked = false;
            }
        });

        joueurCheckbox.addEventListener('change', function() {
            if (joueurCheckbox.checked) {
                coachCheckbox.checked = false;
            }
        });
    });
</script>
{% endblock %}