{% extends 'baseeya.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}



{{include ('header.html.twig')}}

           

    <!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="img/page-top-bg/4.jpg">
		<div class="page-info">
			<h2 style="color:  #e75480;">Contact</h2>
			<div class="site-breadcrumb">
				<a href="/t" style="color: blue;">Home</a>  /
				<span>Contact</span>
			</div>
		</div>
	</section>
	<!-- Page top end-->

<section class="contact-page">
<div class="container">
    <div class="card mt-5" style="border-radius: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <div class="card-header bg-purple text-mauve" style="border-radius: 15px 15px 0 0;">
            <h2 class="text-center mb-0">Show Reclamation</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <b>Type:</b>
                    <p>{{ reclamation.type }}</p>
                </div>
                <div class="col-md-6">
                    <b>Date:</b>
                    <p>{{ reclamation.date ? reclamation.date|date('Y-m-d H:i:s') : '' }}</p>
                </div>
            </div>
            <hr>
            <b>Description:</b>
            <p>{{ reclamation.description }}</p>
            {% if reclamation.suiviReclamations is not empty %}
            <hr>
            <b>Suivi de Réclamation:</b>
            <ul>
                {% for suiviReclamation in reclamation.suiviReclamations %}
                <li>{{ suiviReclamation.status }}</li>
                {# Ajoutez d'autres détails du suivi de réclamation si nécessaire #}
                {% endfor %}
            </ul>
            {% else %}
            <p>Votre réclamation est bien reçue.</p>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="float-right">
                <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}" class="btn btn-sm btn-info mr-2" style="background-color: #6A5ACD; border-color: #6A5ACD;"><i class="bi bi-pencil-fill"></i> Edit</a>
                {{ include('reclamation/_delete_form.html.twig') }}
            </div>
     
</div>

    </div>
</div>



                <div class="col-lg-5 order-1 order-lg-2 contact-text text-white">
					<h3>Rule the Game!</h3>
					<p>Rank Up n'est pas simplement un site, c'est une passerelle vers l'excellence dans le monde de l'e-sport. Grâce à notre expertise en coaching, vous avez maintenant la clé pour élever votre jeu, escalader les rangs et atteindre de nouveaux sommets. </p>
					<div class="cont-info">
						<div class="ci-icon"><img src="public/img/icons/location.png" alt=""></div>
						<div class="ci-text">Ariana, El Ghazela, TUNISIA</div>
					</div>
					<div class="cont-info">
						<div class="ci-icon"><img src="public/img/icons/phone.png" alt=""></div>
						<div class="ci-text">+216 25576 825</div>
					</div>
					<div class="cont-info">
						<div class="ci-icon"><img src="img/icons/mail.png" alt=""></div>
						<div class="ci-text">Ran'UP@contact.com</div>
                      
					</div>
                     
				</div>

      {{include ('footereya.html.twig')}}

      </div>
{% endblock %}