{% extends 'base.html.twig' %}

{% block title %}MatchEntity{% endblock %}

{% block body %}
    <h1>MatchEntity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match_entity.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ match_entity.dateDebut ? match_entity.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_match_entity_index') }}">back to list</a>

    <a href="{{ path('app_match_entity_edit', {'id': match_entity.id}) }}">edit</a>

    {{ include('match_entity/_delete_form.html.twig') }}
{% endblock %}
