{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/stylelogin.css') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block body %}
<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="front">
            <img src="{{ asset('img/2.jpg') }}" alt="">
        </div>
        <div class="back">
            <img src="{{ asset('img/2.jpg') }}" alt="">
        </div>
    </div>
       <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Password Reset Email Sent</div>
                
                      <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
     <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}