<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">Reservation Form</h5>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'form'}}) }}
                        <div class="form-group">
                            {{ form_label(form.Date, 'Date') }}
                            {{ form_widget(form.Date, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.Description, 'Description') }}
                            {{ form_widget(form.Description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.subscriptionPlan, 'Subscription Plan') }}
                            {{ form_widget(form.subscriptionPlan, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">{{ button_label|default('Save') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
