<!-- templates/lecon/_details.html.twig -->

<div class="lecon-details">
    <h3 style="color: #3498db;">{{ lecon.nomLecon }}</h3>
    <p><strong style="color: #27ae60;">URL:</strong> {{ lecon.url }}</p>
    <p><strong style="color: #e74c3c;">Prix:</strong> {{ lecon.prix }}</p>
    <p><strong style="color: #f39c12;">Description:</strong> {{ lecon.description }}</p>
    <p><strong style="color: #9b59b6;">ID Catégorie:</strong> {{ lecon.categorie ? lecon.categorie.id : 'Aucune catégorie associée' }}</p>
    <p><strong style="color: #3498db;">Nom Catégorie:</strong> {{ lecon.categorie ? lecon.categorie.getNomCategorie() : 'Aucune catégorie associée' }}</p>
    
   
    
</div>