{% extends 'base.html.twig' %}

{% block title %}Leçon{% endblock %}

{% block body %}

{{ include('header.html.twig') }}

<!-- Page top section -->
<section class="page-top-section set-bg" data-setbg="img/page-top-bg/lecon.jpg">
    <div class="page-info">
        <h2 style="color: #e74c3c;">Leçon</h2>
        <div class="site-breadcrumb">
            <a href="/f" style="color: #8e44ad; border: 1px solid #8e44ad; padding: 5px 10px; border-radius: 3px;">Home</a> /
            <span style="color: #8e44ad;">Leçon</span>
        </div>
    </div>
</section>
<!-- Page top end-->

<section class="lecon-page">
    <div class="container">
        <h2 class="text-center mt-5 mb-3">show Leçon</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_lecon_index') }}"> 
                    View All Leçons
                </a>
                <a href="{{ path('app_lecon_edit', {'id': lecon.id}) }}">Edit</a>
                {{ include('lecon/_delete_form.html.twig') }}
            </div>
            <div class="card-body">
                <b class="text-muted">Nom Leçon:</b>
                <p>{{ lecon.nomLecon }}</p>
                <b class="text-muted">URL:</b>
                <p>{{ lecon.url }}</p>
                <b class="text-muted">Prix:</b>
                <p>{{ lecon.prix }}</p>
                <b class="text-muted">Description:</b>
                <p>{{ lecon.description }}</p>
                <b class="text-muted">ID Catégorie:</b>
                <p>{{ lecon.categorie ? lecon.categorie.id : 'Aucune catégorie associée' }}</p>
                <b class="text-muted">Nom Catégorie:</b>
                <p>{{ lecon.categorie ? lecon.categorie.getNomCategorie() : 'Aucune catégorie associée' }}</p>
            </div>
        </div>
    </div>
</section>

{{ include('footer.html.twig') }}

</div>
{% endblock %}
