
{#{% block title %}Evenement{% endblock %}#}

<head>

    <title>
        EndGam - Gaming Magazine Template
    </title>
    <meta charset="UTF-8">
    <meta name="description" content="EndGam Gaming Magazine Template">
    <meta name="keywords" content="endGam, gaming, magazine, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Favicon #}
    <link href="{{ asset('img/favicon.ico') }}" rel="shortcut icon"/>

    {# Google Font #}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    {# Stylesheets #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}"/>
    <link  rel="stylesheet" href="{{ asset('css/new.css') }}" />
    
    

    {# Main Stylesheets #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>
<!-- Header section -->
	<header class="">
		<div class="">
			<div class="header-social d-flex justify-content-end" style="color: black;">
                <p style="color: black;">Follow us:</p>
                <a href="#" style="color: black;"><i class="fa fa-pinterest" style="color: black;"></i></a>
                <a href="#" style="color: black;"><i class="fa fa-facebook" style="color: black;"></i></a>
                <a href="#" style="color: black;"><i class="fa fa-twitter" style="color: black;"></i></a>
                <a href="#" style="color: black;"><i class="fa fa-dribbble" style="color: black;"></i></a>
                <a href="#" style="color: black;"><i class="fa fa-behance" style="color: black;"></i></a>
        </div>  
			<div class="header-bar-warp d-flex">
				<!-- site logo -->
				<a href="home.html" class="site-logo">
					<img src="./img/logo.png" alt="">
				</a>
				<nav class="top-nav-area w-100">
									<div class="user-panel">
					{% if app.user %}
					 <a href="/show">Profile</a> / <a href="{{ path('app_logout') }}">Log out</a>
    					
						{% else %}
						<a href="/login">Login</a> / <a href="/register">Register</a>
						{% endif %}
					</div>
					<!-- Menu -->
					{% if app.user %}
					 {% if 'ROLE_PLAYER' in app.user.roles %}
					<ul class="main-menu primary-menu">
						<li><a href="home.html">Subscription</a></li>
						<li><a href="games.html">Courses</a>
							<ul class="sub-menu">
								<li><a href="game-single.html">Game Singel</a></li>
							</ul>
						</li>
						<li><a href="review.html">Events</a></li>
						<li><a href="blog.html">Teams</a></li>
						<li><a href="contact.html">Reclamation</a></li>
					</ul>
					{% elseif 'ROLE_COACH' in app.user.roles %}
					<ul class="main-menu primary-menu">
					<li><a href="home.html">Courses</a></li>
					<li><a href="contact.html">Reclamation</a></li>
					</ul>
					{% endif %}
					{% endif %}
				</nav>
			</div>
		</div>
	</header>
	<!-- Header section end -->








{% block body %}

    <div class="event-details-container">
        <a href="{{ path('app_evenement_index') }}" class="back-link">← Back to Event List </a>   
        <h1>{{ evenement.nomEvent }}</h1>

        <div class="event-details-card">
            <div class="details-item">
                {#<span class="details-label">Id:</span>#}
                {#<span class="details-value">{{ evenement.id }}</span>#}
            </div>
            <div class="details-item">
                <span class="details-label">NomEvent:</span>
                <span class="details-value">{{ evenement.nomEvent }}</span>
            </div>
            <div class="details-item">
                <span class="details-label">DateDebut:</span>
                <span class="details-value">{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</span>
            </div>
            <div class="details-item">
                <span class="details-label">DateFin:</span>
                <span class="details-value">{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : '' }}</span>
            </div>
            <div class="details-item">
                <span class="details-label">Type:</span>
                <span class="details-value">{{ evenement.type }}</span>
            </div>
            <div class="details-item">
                <span class="details-label">Description:</span>
                <span class="details-value">{{ evenement.description }}</span>
            </div>

            {#<div class="participate-button">
                <a href="" class="button">Participer</a>
            </div>#}
        </div>

        <!-- Your edit and delete options can be added here -->

        

    </div>

    {{ include('footer.html.twig') }}
{% endblock %}

